footer {
  padding: 10px 10px 0 10px;
  background-color: #EF7303;
  margin-bottom: 0px;
  margin-top: 10px;
}
.breadcrumb .breadcrumb-item > a {
  color: black;
  font-weight: bold;
}
.btn-abajo {
  width: 100%;
  background-color: #343a40;
  color: white;
  border-radius: 0px;
}
.btn-link {
  color: #808080;
  font-weight: bold;
}
.card-restaurant {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.jumbotron {
  background-color: #EF7303;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #EF7303;
}
.nav-pills .nav-link,
.nav-item {
  color: black;
}
.redes {
  color: #0B09BC;
  font-weight: bold;
}
.tab-content {
  padding-top: 10px;
}
