@orange: #EF7303;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: @orange;
  .margenes (10px, 0px);
}  

.breadcrumb .breadcrumb-item > a {
  color: black;
  font-weight: bold; }

.btn-abajo {
  width: 100%;
  background-color: #343a40;
  color: white;
  border-radius: 0px; }

.btn-link {
  color: #808080;
  font-weight: bold; }

.card-restaurant {
  flex: 1 200px;
  .margenes (10px, 0px); }

.footer-address-icon {
  padding-right: 10px; }

.jumbotron {
  background-color: @orange;
  color: black;
  .margenes(50px, 0px)
 }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: @orange; }

.nav-pills .nav-link, .nav-item {
  color: black; }

.redes{
  color: #0B09BC;
  font-weight: bold;
}   

.tab-content {
  padding-top: 10px; }
